@import url('https://fonts.googleapis.com/css?family=Monoton|Poppins&display=swap');
#css-zen-garden
{
	font-family: 'Poppins',cursive;
	background-color: #b9936c;
	color:white;
}
#zen-summary
{
	padding: 8px 8px 8px 8px;
}
#zen-requirements
{
	padding-bottom: 20px;
}
.page-wrapper
{
	display:block;
}
.sidebar
{
	width: 100%;
	
	color: black;
	float: right;
	
	padding: 5px 5px 5px 5px;
	background-color: #e6e2d3;
}
.main.supporting
{
	padding: 5px 5px 0px 5px;
	background-color: rgb(255, 255, 204,0.3);
	position: relative;
	width: auto;
	display: inline-block;
	position: relative;
}
.preamble
{
	background-color: #dac292;
	padding: 5px 5px 0px 5px;
}
.requirements {margin-bottom: 100px;}
header
{
	font-family: 'Monoton', cursive;
	text-align: center;
}
header h1
{
	font-size: 3em;
}
header h2
{
	font-size: 1.75em;
}
footer
{

	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: #c4b7a6;
	padding: 25px;
    left: -7px;
}
ul
{
	list-style-type: none;
}
ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  font-style: italic;
}

ul li:last-child {
  border-bottom: none
}
a
{
	text-decoration: none;
	color: #0066cc;
}
footer a:hover
{
	font-size: 225%;
	color: white;
	background: linear-gradient(to left, transparent 50%, white 50%);
  	background-size: 200% 100%;
  	background-position: right bottom;
  	transition: all .25s ease-out;

}
abbr
{
	text-decoration: underline wavy;
}


footer a
{
	padding:0px 10px 0px 10px;
	font-size: 200%;
	color: black;
}
a:hover
{
	font-size: 125%;
	color: black;
	background: linear-gradient(to left, transparent 50%, white 50%);
  	background-size: 200% 100%;
  	background-position: right bottom;
  	transition: all .25s ease-out;

}
aside a:hover
{
	font-size:100%; 
	color: black;
	background: linear-gradient(to left, transparent 50%, white 50%);
  	background-size: 200% 100%;
  	background-position: right bottom;
  	transition: all .25s ease-out;
}
@media only screen and (min-width: 992px) 
{
	#zen-supporting
	{
		
		float: left;
		width: 65%;
	}
	footer
	{
		position: absolute;
		width: 1210px;
	}
	.sidebar
	{
		height: 100%;
		width: 33%;
	}
}

