body
{
	font-family:"montserratsemibold",sans-serif;
}
.main
{
	display: flex;
	padding: 5px 5px 5px 5px;
}
.main .subtxt
{
	width: 65%;
}
.main .subreg
{
	padding: 10px 10px 10px 10px;
	position: fixed;
	right: 0px;
	background-color:rgb(76, 175, 80,.6);
	color: white;

}
hr
{
	border:5px solid black;
}
#para1
{
	text-align: justify;
}
header
{
	color: rgb(76, 175, 80);
}
#submitb
{
	background-color: white;
  	border: none;
  	color: grey;
  	cursor: pointer;
  	font-size: 1.5em;
}
#note
{
	font-size: 0.8em; 
}
@media only screen and (max-width: 1208px) {
  	.main .subtxt
	{
		width: 50%;
	}
}

@media only screen and (max-width: 845px) {
  	.main .subtxt	{
		width: 100%;
	}
	.main .subreg
	{
		position: relative;	
		width: 97%;
		margin-right: 30px;
	}
	.main {
		display: block;
	}

}
